# MongoDB Atlas connection string
# Format: mongodb+srv://username:password@cluster.mongodb.net/databaseName?retryWrites=true&w=majority
# Database name: roadinspector (case-insensitive)
MONGO_URI=mongodb+srv://tcnbandara_db_user:lykiyZb45FYTj2gj@roadinspector.qzvo2u3.mongodb.net/roadinspector?retryWrites=true&w=majority

# Local server port
PORT=5001
